<?xml version="1.0" encoding="UTF-8"?>
<QCARConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="qcar_config.xsd">
    <Tracking>
        <ImageTarget size="256 54.734966" name="tomyam"/>
        <ImageTarget size="441 113" name="thaigreenc"/>
        <ImageTarget size="313 86" name="thaigreenc_s"/>
        <ImageTarget size="390 36.891891" name="chicken_tomyam"/>
        <ImageTarget size="511 151" name="thaired_c"/>
        <ImageTarget size="597 239.650833" name="massaman_c"/>
    </Tracking>
</QCARConfig>
